.patient-existed {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    text-decoration: underline;
    color: rgb(72, 72, 197);
    font-weight: 500;
    cursor: pointer;
}

.matched-patient-info {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    font-weight: 500;
    font-style: italic;
}

#cam-icon{
    vertical-align: middle;
}

.qr-code-scanner, .alternative-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.id-deactivated {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    color: rgb(243 10 10);
    font-weight: 500;
    text-align: center;
}