.patient-existed {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    text-decoration: underline;
    color: rgb(72, 72, 197);
    font-weight: 500;
    cursor: pointer;
}

.id-deactivated {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 30px auto;
    color: rgb(72, 72, 197);
    font-weight: 500;
    cursor: pointer;
}