.abha-creation {
  margin-top: 50px;

  .aadhaar, .mobile
  {
    display: flex;
  }

  label{
    width: 40%;
  }

  .verify-aadhaar-input-btn, .otp-verify-input-btn, .verify-mobile-input-btn {
    display: flex;
    width: 60%;
  }

  .verify-aadhaar-input, .otp-verify-input, .verify-mobile-input {
    width: 60%;
    padding-right: 20px;
  }

  input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
  }
}

.error {
  margin-left: 40%;
  color: red;
  margin-top: 0px;
}
button {
  background-color: #88af28;
  color: white;
  border: 1px solid #88af28;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: medium;
}

button:hover{
  opacity: 0.80;
}

button:active{
  border: 3px solid #4169e9;
}

.message {
   margin-left: 40%;
  font-size: medium;
  font-style: italic;
}