name: Build NHDM React App
on:
 push:
    branches:
     - main
     - BAH-2124
 workflow_dispatch:

env:
   ORG_NAME: BahmniIndiaDistro
   EVENT_TYPE: ndhm-react-trigger

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      CI: false
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build
      - run: zip -r ndhm-react.zip build
      - uses: actions/upload-artifact@v2
        with:
          name: NDHMReact
          path: ndhm-react.zip

  trigger-dependent-repos:
    name: Trigger Workflows
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dependent-repos: [ 'bahmni-india-package' ]
    steps:
      - name: Create repository_dispatch
        env:
          REPOSITORY_NAME: ${{ matrix.dependent-repos }}
        run: |
          trigger_result=$(curl -s -o trigger_response.txt -w "%{http_code}" -X POST -H "Accept: application/vnd.github.v3+json" -H 'authorization: Bearer ${{ secrets.BAHMNI_PAT }}' https://api.github.com/repos/${ORG_NAME}/${REPOSITORY_NAME}/dispatches -d '{"event_type":"'"${EVENT_TYPE}"'"}')
          if [ $trigger_result == 204 ];then
            echo "Trigger to $ORG_NAME/$REPOSITORY_NAME Success"
          else
            echo "Trigger to $ORG_NAME/$REPOSITORY_NAME Failed"
            cat trigger_response.txt
            exit 1
          fi
